@import url('https://fonts.googleapis.com/css2?family=Droid+Serif&display=swap');

.introduction {
    font-family: var(--font-family), serif;
    padding: 20px;
    color: var(--text-color);
    margin-top: 5%;
    margin-bottom: 15%;
    z-index: 0;
}

.intro_header_and_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    flex: 1;
}

.introduction .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction h1 {
    font-family: 'Pacifico', serif;
    font-size: 8em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.introduction h2 {
    font-family: 'Pacifico', serif;
    font-size: 8em;
    color: var(--primary-color);
}

.introduction p {
    font-family: var(--font-family), serif;
    font-size: 1.2em;
    text-align: justify;
    margin: 0 10px;
    max-width: 40%;
}