.aufgabe4-container {
    padding: 20px;
    font-family: var(--font-family), serif;
}

.aufgabe4-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.aufgabe4-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.aufgabe4-container li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 20px); /* Three items per row with some margin */
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly opaque background */
    border-radius: 8px;
}

.aufgabe4-container li:hover {
    transform: translateY(-5px);
}

.aufgabe4-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.aufgabe4-container h2 {
    margin: 0;
    font-size: 1.5em;
    color: #555;
}

.aufgabe4-container a {
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
}

.aufgabe4-container a:hover {
    text-decoration: underline;
}

.aufgabe4-container p {
    margin: 5px 0;
    color: #666;
    font-size: 1em;
}

.aufgabe4-container p strong {
    color: #333;
}

.comment-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly opaque background */
    border-radius: 8px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-experience-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-experience-input .standard,
.user-experience-input .experience {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #bfbfbf;
    border-radius: 4px;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.message-container .message {
    flex-grow: 1;
    margin-right: 10px;
    height: 1.5em; /* Prefill empty space */
}

.success-text {
    color: green;
}

.error-text {
    color: red;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.comments-list {
    max-height: 80vh; /* Adjust the height as needed */
    overflow-y: auto;
}

button[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--accent-color);
}