.datenschutzerklaerbaer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 50%;
}

.datenschutzWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
