.support-container {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  margin-left: 12%;
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  z-index: 10;
}

.support-container::before {
  content: '';
  position: absolute;
  top: -3%;
  left: -3%;
  width: 106%;
  height: 106%;
  background-color: var(--secondary-color);
  z-index: -1;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color);
}


.faq-item {
  margin-bottom: 30px;
}

.support-contact-form {
  background-color: var(--secondary-color);
  padding: 30px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 3em;
  margin-bottom: 20px;
  font-family: Pacifico, cursive;
  color: var(--primary-color);
}

.sub-header {
  font-size: 2em;
  margin: 50px;
  font-family: Pacifico, cursive;
  color: var(--primary-color);
}

.ueberschrift {
  font-size: 1.5em;
  font-family: Pacifico, cursive;
  margin: 10px;
  color: var(--primary-color);
}

.response-message {
  color: green;
  text-align: center;
  margin-top: 20px;
}

.messageInput {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
  resize: vertical;
}

.contactInput {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.support-text {
  flex: 2;
  margin-right: 20px;
}

.contact-number-and-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact {
  flex: 1;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 1000px) {
  .support-container {
    display: flex;
    justify-content: space-between;
  }

  .support-text {
    flex: 1;
    margin-right: 20px;
  }

  .contact {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .support-contact-form {
    margin-top: 20px;
  }
}