.header {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 2em;
    margin: 2%;
    text-align: center;
}

.sub-header {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 1.5em;
    margin: 2%;
    text-align: left;
}

.containerCatNature {
    margin-bottom: 0;
}

.catbird-impact {
    margin-bottom: 0 !important;
}

.book-recommendation {
    margin-top: 25%;
}