.eco-litter-container {
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.eco-litter-container .sub-header {
    font-size: 1.8em; /* Adjusting the font size as needed */
    text-align: left;
    align-self: flex-start; /* Overriding the parent's alignment */
}

.eco-litter-title {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.eco-litter-description {
    font-family: var(--font-family), serif;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.eco-litter-types {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eco-litter-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-box {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.eco-litter-review {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.eco-litter-review-details {
    flex: 1;
}

.review-meta {
    display: flex;
    gap: 10px;
    font-size: 0.9em;
    color: gray;
}

.review-date, .review-name, .review-stars {
    margin-right: 10px;
}

.eco-litter-images img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}