.full-container-suppShelter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 10px;
    margin-top: 20px;
}

.sub-header-suppShelter {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 1.5em;
    margin: 2%;
    text-align: center;
}

.left-container-suppShelter {
    flex: 1;
    max-width: 60%;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    text-align: center;
}

.right-container-suppShelter {
    flex: 1;
    max-width: 35%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
}


.right-container-suppShelter img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    max-width: 250px;
    width: 100%;
    height: 100%;
}

.right-container-suppShelter img:hover {
    transform: scale(1.05);
}
  