.full-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
}
.full-container-headline {
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 10px;
}
.outer-cont {
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}
.left-cont {
    flex: 1 1 60%;
    max-width: 60%;
  }
  .right-cont {
    flex: 1 1 40%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.source {
    font-size: 12px;
}