.full-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
}
.full-container-headline {
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 10px;
}
.outer-container {
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}
.left-container {
    flex: 1 1 65%;
    max-width: 65%;
  }
.right-container {
    flex: 1 1 35%;
    max-width: 35%;
  }
  .video-container {
    text-align: left;
    margin: 30px 0;
  }
  
  .video-button {
    background-color: var(--primary-color); 
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .video-button:hover {
    background-color: #4e3b5a;
    transform: scale(1.05);
  }
  .sub-header {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 1.5em;
    margin: 2%;
    text-align: center;
}
  .video-button:active {
    transform: scale(0.98);
  }
  .recipe-text {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.recipe-text strong {
    color: var(--primary-color);
}

.recipe-text ul {
    margin-left: 20px;
    padding-left: 10px;
}

.recipe-text p {
    margin-bottom: 10px;
}


  
.source {
    font-size: 12px;
}
