/* CatAnimation.css */
.cat-animation-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Lowered to ensure header and footer are clickable */
    image-rendering: pixelated; /* Optional: Ensures sharp rendering */
}

/* Home.css */
.container {
    position: relative;
    z-index: 2; /* Ensure the container is above the canvas */
}

.info-blocks-container {
    position: relative;
    z-index: 2; /* Ensure the info blocks are above the canvas */
}