.credits-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    max-width: 800px;
}

.playful-header {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;

}

.readable-text {
    font-family: var(--font-family), serif;
    color: var(--text-color);
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 10px;
}

.playful-keyword {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 1.2em;
}

.credits-section {
    flex: 1;
    overflow-y: auto;
}

.link-class {
    font-family: var(--font-family), serif;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}

.link-class:hover {
    color: var(--accent-color);
}