.book-recommendation {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.book-recommendation h3 {
    font-size: 1.2em;
    color: var(--primary-color);
}

.pic-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book-image {
    width: auto;
    height: 300px;
    max-width: 100%;
    margin: 0.5em;
    object-fit: contain;
    z-index: 4000;
    transition: transform 0.1s;
    transform-style: preserve-3d;
}

.book-image-container {
    perspective: 1000px;
}

.book-image-container:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    cursor: pointer;
}

.book-description {
    font-size: 1em;
    color: var(--text-color);
    text-align: left;
    margin: 0.5em;
    max-width: 600px;
}

.title {
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 1.5em;
    margin: 2%;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff,
        0 0 15px #ff00ff, 0 0 20px #ff00ff;
    }
    50% {
        text-shadow: 0 0 15px #00ffff, 0 0 20px #00ffff,
        0 0 25px #00ffff, 0 0 30px #00ffff;
    }
    100% {
        text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff,
        0 0 15px #ff00ff, 0 0 20px #ff00ff;
    }
}

.neon-sign {
    position: absolute;
    top: -80px;
    left: 20%;
    transform: translateX(-50%) rotate(-10deg);
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #fff;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff,
    0 0 15px #ff00ff, 0 0 20px #ff00ff;
}