.cat-animation-canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;
    image-rendering: pixelated;
    aria-hidden: true;
    pointer-events: auto; /* Ensure the canvas can intercept mouse events */
}