.tabs {
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.tabs button {
    flex: 1;
    padding: 15px;
    font-size: 15px;
    background-color: #e0e0e0;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
    text-align: center;
}

.tabs button.active {
    background-color: #5D415A;
    color: white;
    font-weight: bold;
}

.tabs button:hover {
    background-color: #8E44AD;
    color: white;
    transform: scale(1.05);
}