.support-container {
  max-width: 700px;
  margin: 100px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  position: relative;
  z-index: 10;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

h2 {
  color: var(--accent-color);
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 30px;
}

.support-contact-form {
  background-color: var(--secondary-color);
  padding: 30px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-color);
}

input,
textarea {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: var(--background-color);
  color: var(--text-color);
}

textarea {
  resize: vertical;
}

button {
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--high-contrast-bg);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05); 
}

button:active {
  background-color: #3B2A47; 
  transform: scale(0.98); 
}

.response-message {
  color: green;
  text-align: center;
  margin-top: 20px;
}