.cat-animation-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Make sure its clickable but not above the info-blocks! or do, I dont care at this point of css dev */
    image-rendering: pixelated;
}

.container {
    position: relative;
    z-index: 2; /* Ensures the container is above the canvas */
}

.info-blocks-container {
    position: relative;
    z-index: 2; /* Ensures the info blocks are above the canvas */
    color: var(--text-color);
}