.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F5F5F5;
  padding: 20px;
  color: #5D415A;
}

.App-logo {
  height: 40px;
}

nav {
  display: flex;
  gap: 15px;
}

.App-link {
  color: #5D415A;
  text-decoration: none;
}

.App-button {
  background-color: white;
  border: none;
  color: #5D415A;
  padding: 10px 20px;
  cursor: pointer;
}

.App-footer {
  background-color: #F5F5F5;
  color: #5D415A;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}